<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body,
        html {
            height: 100%;
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #f0f4ff, #dfe9f3);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-container {
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 40px;
            width: 350px;
            text-align: center;
        }

        h1 {
            margin-bottom: 25px;
            color: #333;
        }

        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border: none;
            border-radius: 8px;
            background-color: rgba(255, 255, 255, 0.8);
        }

        input:focus {
            outline: none;
            box-shadow: 0 0 5px #9ec6f5;
        }

        button {
            width: 100%;
            padding: 12px;
            background-color: #4a90e2;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-weight: bold;
            margin-top: 15px;
        }

        button:hover {
            background-color: #357bd8;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <h1>Change Password</h1>
        <form action="/changepassword/<%= user._id %>" method="post">

            <label for="">New Password</label>
            <input type="password" name="newpassword" required>
            <label for="">Confirm Password</label>
            <input type="password" name="confirmpassword" id="" required>



            <% if (err) { %>
                <div style="color: red; text-align: start; margin-bottom: 15px;margin-left: 10px;">
                    <%= err %>
                </div>
                <% } %>

                    <% if (msg) { %>
                        <script>alert("<%= msg %>")</script>
                        <% } %>



                            <button type="submit">Change Password</button><br><br>

                            <p>Remember your Password?<a href="/login" style="text-decoration: none;"><br> Login Now</a>
                            </p>


        </form>
    </div>
</body>

</html>